h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}

thead {
    background-color: #a39e4e;
    font-weight: bold;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}